
         <div class = "cadre-admin">    
                    <aside class="col-9 border border-light bg-light p-2" >

                        <article class="card mb-3">

                            <div class="card header">
                                Produits
                            </div>

                            <div class="card body">
                                <p> <a href="" >Liste des produits</a> </p>
                                <p> <a href="" >Ajouter un  produit</a> </p>
                            </div>

                        </article>

                        <article class="card mb-3">
                        
                            <div class="card header">
                                Nature des produits
                            </div>

                            <div class="card body">
                                <p> <a href="" >Liste des nature</a> </p>
                                <p> <a href="" >Ajouter une nature</a> </p>
                            </div>

                        </article>

                        <article class="card mb-3">
                        
                            <div class="card header">
                                Utilisateurs
                            </div>

                            <div class="card body">
                                <p> <a href="" >Liste des utilisateurs</a> </p>
                                <p> <a href="" >Enregistrer un nouvel utilisateur</a> </p>
                            </div>

                        </article>

                    </aside>

          </div>      
