

{% extends 'base.html.twig' %}
    
{% block title %}Voir cet utilisateur{% endblock %}

{% block body %}

     <a href="{{ path('nature.list') }}"> <U>Retour à la liste des natures</U> </a>

        <h1> Détails sur cette nature </h1>

        <div class="alert alert-success">

            <table>
            <td>
                <h4> Nom :</h4>{{nature.nameNature}} <br>
                <h4> Catégorie:</h4>{{nature.ToBelong.nameCategory}} <br>
                
            </td>
            <table>

        </div>

       
{% endblock body %}
