

{% extends 'base.html.twig' %}
    
{% block title %}Voir cet utilisateur{% endblock %}

{% block body %}

        <h1> Détails sur cet utilisateur </h1>

        <div class="alert alert-success">

            <table>
            <td>
                <h4>Nom d'utilisateur:</h4>{{user.username}} <br>
                <h4>Adresse email :</h4>{{user.email}} <br>  
                <h4> Fonction:</h4>{{user.ToOccupy.namePosition}} <br>
                
                
            </td>
            <table>

        </div> <br>

        <a href="{{ path('user.list') }}">Retour</a>


{% endblock body %}
